<div class="row">
  <div class="col-xs-12">
    <form action="" class="shopping-list-add">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input type="text" id="item-name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input type="text" id="item-amount" class="form-control" required>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success">Add</button>
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
